:root {
  /* Primära färger */
  --dark-blue: #0b08e6; 
  --medium-blue: #003459;
  --gold: #ffd700; 

  /* Bakgrund och text */
  --background-dark: #1b1b1f; 
  --background-light: #2a2d36; 
  --text-light: #e0e0e0; 
  --text-dark: #161616; 

  /* Spacing */
  --small-space: 0.5rem;
  --medium-space: 1rem;
  --large-space: 2rem;

  /* Rundade hörn */
  --rounded: 8px;
}
